@import "normalize";

body {
  background-color: #e9ecef;
}
.content {
  border: 1px solid grey;
    height: 45%;
}
.content p {
  color: grey;
}
.align-self-start {
  height: 10%
}

.top-nav {
  display: flex;
  justify-content: flex-end;
	border-color: grey;
  margin-left: 20px;
}
.container {
	border: none;
	padding: 1px, 0px;
}
.left-nav {
	border-color: grey;
  margin-top: 2px;
  margin-left: 2px;
  margin-right:2px;
	float: left;
  background: black;
  color: white;
}

.row p {
  display: left;
  margin-top: 5px;
}
button {
  align-items: flex-end;
  border-width: 4px;
  height: 10px;
}
h3 {
  font-family: 'Caveat', cursive;
}

.squer {
  display: flex;
  justify-content: space-around;
  border: 1px, solid, white;
}